@import 'https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700';

body {
    font-family: 'Share Tech Mono', monospace;
}

.uk-form {
    // Input Class
    input[type] {
        height: 50px;
        // position
        padding: 4px 10px;
    }
}
